snippet #!
	#!/usr/bin/env julia
	$0

snippet cont
	continue

snippet usedf
	using CSV, DataFrames
	$0

snippet DF
	DataFrame

snippet ROOT
	ROOT = \`git root\` |> readchomp
	$0

snippet ret
	return $0
