# for some reason the simple keyword continue seems to be missing from 
# completion.
snippet cont
	continue

# I type this often.
snippet usedf
	using CSV, DataFrames
	$0

# I type this often.
snippet ROOT
	ROOT = \`git root\` |> readchomp
	cd("\$ROOT/$1")
	$0

# Change by removing parenthesis around arg.
snippet ret
	return $0
