.DS_Store
kittyREPL.nvim # here for dev, not to be incorporated.

node_modules/
./plugin/packer_compiled.lua

*-lock.json

*.log

# vim binaries
*.spl
*.sug

# common temp file names
temp.*
tmp.*
lars.*
hej.*
hejsa.*
hej_*

.metals/

# binaries
pandoc-unicode-math
pandoc-unicode-math-from-latex
