[submodule "kittyREPL.nvim"]
	path = kittyREPL.nvim
	url = git@github.com:degnbol/kittyREPL.git
[submodule "nvim-revJ.lua"]
	path = nvim-revJ.lua
	url = git@github.com:degnbol/nvim-revJ.lua.git
[submodule "lsp/pymol-open-source"]
	path = lsp/pymol-open-source
	url = https://github.com/schrodinger/pymol-open-source
[submodule "kitty-conf.nvim"]
	path = kitty-conf.nvim
	url = git@github.com:degnbol/kitty-conf.nvim.git
